body {
    background-color: teal;
    height: 70vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Microsoft Sans Serif", "Tahoma", sans-serif;
}

.window {
    max-width: 270px;
    width: 100%;
}

.window-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 1px;
    overflow: hidden;
    border: 1px solid #fff;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h2 {
    margin: 0;
    font-size: 18px;
    font-family: "Microsoft Sans Serif", sans-serif !important;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: Pixelated MS Sans Serif;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.links a, .links button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
}

footer {
    font-size: 10px;
    text-align: center;
    color: #5c5c5c;
    font-family: "Microsoft Sans Serif", sans-serif !important;
}

.player-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

@media (max-width: 480px) {
    body{
        height: 80vh;
    }
}